html, body {
    font-family: Monaco, cursive;
}

h1 {
    text-align: center;
}

textarea {
    width: 100%;
    font-family: inherit;
}

legend {
    background-color: lightblue;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    padding: 5px;
}

p {
    margin: 10px;
}

@media only screen and (max-width: 400px){
    tr {
        font-size: 75%;
    }
}

fieldset {
    margin: 10px;
    padding: 10px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    text-align: center;
}

table {
    width: 100%;
}

legend:first-child {
    text-align: left;
}

.contact {
    width: 100%;
    margin: 5px;
    box-sizing: border-box;
    font-family: inherit;
}

.data_left {
    text-align: left;
}

#send {
    margin: 0;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 10px;
    background-color: lightblue;
    width: 100%;

    font-size: x-large;
    font-weight: bold;
    font-family: inherit;
}